@inherits LayoutComponentBase
@layout MainLayout

<script>
    const sections = document.querySelectorAll(".section");
    let currentIndex = 0;

    window.addEventListener("wheel", (event) => {
        if (event.deltaY > 0) {
            // Scroll down
            currentIndex = Math.min(currentIndex + 1, sections.length - 1);
        } else {
            // Scroll up
            currentIndex = Math.max(currentIndex - 1, 0);
        }

        sections[currentIndex].scrollIntoView({
            behavior: "smooth"
        });

        event.preventDefault();
    }, { passive: false });
</script>

<MudAppBar Color="Color.Primary" Fixed="true" ToolBarClass="mud-width-full toolbar" Class="mud-width-full logo-container appbar-full">
    <div class="pa-0 ma-5 d-flex align-center">
        <MudImage Src="/img/Icon.png" Alt="Icon" Class="logo mr-7"/>
        <MudText Typo="Typo.h4">Onyx</MudText>
    </div>
    <div>
        <MudIconButton Icon="@Icons.Material.Filled.Download" Color="Color.Inherit"
                       Href="/downloads" Size="Size.Large" title="Downloads"/> 
        <MudIconButton Icon="@Icons.Material.Filled.DataArray" Color="Color.Inherit"
                       Href="/data" Size="Size.Large" title="Data"/>
        <MudIconButton Icon="@Icons.Material.Filled.NewLabel" Color="Color.Inherit"
                       Href="/account/register" Size="Size.Large" title="Register"/>
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit"
                       Href="/account/login" Size="Size.Large" title="Login"/>
    </div>
</MudAppBar>
<MudAppBar Color="Color.Primary" ToolBarClass="mud-width-full toolbar" Class="mud-width-full logo-container appbar-top">
    <div class="pa-0 ma-5 d-flex align-center">
        <MudImage Src="/img/Icon.png" Alt="Icon" Class="logo mr-7"/>
        <MudText Typo="Typo.h4">Onyx</MudText>
    </div>
</MudAppBar>
<MudAppBar Color="Color.Primary" Fixed="true" ToolBarClass="mud-width-full toolbar" Class="mud-width-full logo-container mud-appbar-fixed-bottom appbar-bottom">
    <MudIconButton Icon="@Icons.Material.Filled.Download" Color="Color.Inherit"
                   Href="/downloads" Size="Size.Large" title="Downloads"/>
    <MudIconButton Icon="@Icons.Material.Filled.NewLabel" Color="Color.Inherit"
                   Href="/account/register" Size="Size.Large" title="Register"/>
    <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit"
                   Href="/account/login" Size="Size.Large" title="Login"/>
</MudAppBar>

<div class="content ma-0 pa-0 mud-width-full">
    @Body
</div>