@page "/Account/Manage/Profile"
@inject NavigationManager NavigationManager

<MudContainer Class="py-4 px-3">
    <MudGrid>
        <MudItem xs="12" sm="11">
            <MudPaper Class="pa-4 elevation-1">
                <MudText Typo="Typo.h6" Class="mb-4">Profile Settings</MudText>

                <div class="d-flex flex-column align-items-center mb-4">
                    <MudAvatar Image="https://i.pravatar.cc/150?img=3" Class="mb-3" Size="Size.Large" />
                    <div>
                        <MudFileUpload T="IBrowserFile" FilesChanged="UploadImage">
                            <ActivatorContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           StartIcon="@Icons.Material.Filled.Image">
                                    Upload Image
                                </MudButton>
                            </ActivatorContent>
                        </MudFileUpload>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="mt-2">Delete avatar</MudButton>
                    </div>
                </div>

                <EditForm Model="@accountModel" OnValidSubmit="@SaveChanges">
                    <MudGrid>
                        <MudItem xs="12" sm="6">
                            <MudTextField T="string" Label="First Name" @bind-Value="@accountModel.FirstName"
                                          Variant="Variant.Outlined" FullWidth="true" />
                        </MudItem>

                        <MudItem xs="12" sm="6">
                            <MudTextField T="string" Label="Last Name" @bind-Value="@accountModel.LastName"
                                          Variant="Variant.Outlined" FullWidth="true" />
                        </MudItem>

                        <MudItem xs="12" sm="6">
                            <MudTextField T="string" Label="Email" @bind-Value="@accountModel.Email"
                                          Variant="Variant.Outlined" FullWidth="true" />
                        </MudItem>
                    </MudGrid>

                    <!-- Save Changes Button -->
                    <div class="mt-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@DisableSave" Type="submit">
                            Save Changes
                        </MudButton>
                    </div>
                </EditForm>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code
{
    private AccountModel accountModel = new AccountModel
    {
        FirstName = "",
        LastName = "",
        Email = "",
        MobileNumber = "",
        Gender = "",
        ID = "",
        TaxIdentificationNumber = "",
        TaxIdentificationCountry = "",
        ResidentialAddress = "",
        PhoneCountryCode = ""
    };

    IList<IBrowserFile> _files = new List<IBrowserFile>();

    private void UploadImage(IBrowserFile? file)
    {
        _files.Add(file);
        //TODO upload the files to the server
    }

    private bool DisableSave => string.IsNullOrWhiteSpace(accountModel.FirstName)
    || string.IsNullOrWhiteSpace(accountModel.LastName)
    || string.IsNullOrWhiteSpace(accountModel.Email);

    private void SaveChanges()
    {
        // todo: logik zum speichern der daten in der db
    }

    public class AccountModel
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string Email { get; set; }
        public string MobileNumber { get; set; }
        public string Gender { get; set; }
        public string ID { get; set; }
        public string TaxIdentificationNumber { get; set; }
        public string TaxIdentificationCountry { get; set; }
        public string ResidentialAddress { get; set; }

        // Extra: For demonstration if you want a prefix field
        public string PhoneCountryCode { get; set; }
    }
}
